.playbar{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions{
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}